body {
	font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #727272;
    font-weight: 300;
    font-size: 24.5px;
    line-height: 40px;
    margin: 10px 0;
}


h1 {
    font-family: 'Roboto', sans-serif;
    color: #727272;
    font-weight: 300;
    font-size: 38.5px;
    line-height: 40px;
    margin: 10px 0px;
}

#logo img{
    width: 200px;
}

.form-inline {
    margin-top: 40px;
}

#searchEngine {
    width: 80%;
}

#product {
	display: table;
	width: 90%;
	border-left: 0;
    border-right: 0;
}

#product_img {
	float: left;
	width: 200px;
	display: block;
}



#product_content {
	float: left;
	width: 60%;
	margin-left: 20px;
	margin-top: 10px;
}

#product_title {
	font-weight: bold;
}

#product_price {
	color: red;
}

#product_source {
	float: right;
	margin-top: 10px;
}

#product_source img {
	width: 100px;
	margin-top: 20%;
	vertical-align:middle;
}

.filter_name {
	font-family: 'Roboto', sans-serif;
    color: #727272;
    font-weight: 300;
    font-size: 24.5px;
    line-height: 40px;
    margin: 10px 0;
    margin-bottom: -3px;
}

.filter_list {
	font-size: 15px;
	border: 1px solid #ccc!important;
	border-radius: 16px!important;
	padding-left: 10px;
}

#filter button {
	float: right;
	margin-top: 10px;
}

.list-group {
	margin-top: 30px;
}

.checkbox label input {
	margin-top: 8px;
}

#compare {
    position: absolute;
    bottom: 0;
    right: 0;
}